# WeatherPy
----

### Analysis
* As expected, the weather becomes significantly warmer as one approaches the equator (0 Deg. Latitude). More interestingly, however, is the fact that the southern hemisphere tends to be warmer this time of year than the northern hemisphere. This may be due to the tilt of the earth.
* There is no strong relationship between latitude and cloudiness. However, it is interesting to see that a strong band of cities sits at 0, 80, and 100% cloudiness.
* There is no strong relationship between latitude and wind speed. However, in northern hemispheres there is a flurry of cities with over 20 mph of wind.

---

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time

# Import API key
from api_keys import api_key

# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy

# Output File (CSV)
output_data_file = "output_data/cities.csv"

# Range of latitudes and longitudes
lat_range = (-90, 90)
lng_range = (-180, 180)
print(api_key)

84f6158a69ba80bdee575f4cd1c4d94a

## Generate Cities List

In [2]:
# List for holding lat_lngs and cities
lat_lngs = []
cities = []

# Create a set of random lat and lng combinations
lats = np.random.uniform(low=-90.000, high=90.000, size=60)
lngs = np.random.uniform(low=-180.000, high=180.000, size=60)
lat_lngs = zip(lats, lngs)

# Identify nearest city for each lat, lng combination
for lat_lng in lat_lngs:
    city = citipy.nearest_city(lat_lng[0], lat_lng[1]).city_name
    
    # If the city is unique, then add it to a our cities list
    if city not in cities:
        cities.append(city)


# Print the city count to confirm sufficient count
cities_list=list(cities)
len(cities)

57

In [3]:
cities_df= pd.DataFrame({"City":cities_list})
cities_df["Cloudiness"]=""
cities_df["Country"]=""
cities_df["Humidity"]=""
cities_df["Lat"]=""
cities_df["Lng"]=""
cities_df["Max Temp"]=""
cities_df["Wind Speed"]=""
# cities_df.dtypes  
cities_df.head()

        City Cloudiness Country Humidity Lat Lng Max Temp Wind Speed
0   luderitz
1      bluff
2  jamestown
3   bengkulu
4      roald

In [5]:
from pprint import pprint

# locate data in API using test city

base_url = "http://api.openweathermap.org/data/2.5/weather"
params = {"appid":api_key,
          "q": "castro"}
response = requests.get(base_url, params=params)
chicago = response.json()
#pprint(chicago)

#kelvin conversion = (0K − 273.15) × 9/5 + 32 = -459.7°F

cgo_cloudiness = chicago["clouds"]["all"]
cgo_country= chicago["sys"]["country"]
cgo_humidity=chicago["main"]["humidity"]
cgo_lat = chicago["coord"]["lat"]
cgo_lon = chicago["coord"]["lon"]
cgo_temp_max = ((chicago["main"]["temp_max"])-273.15) * 9/5 + 32 #converted K to Farenheit
cgo_wind_speed = (chicago["wind"]["speed"])*3600/1609.34  #converterted m/s to mph
cgo_wind_speed

5.816048815042191

In [9]:
base_url = "http://api.openweathermap.org/data/2.5/weather"
params = {"appid":api_key}
for index, row in cities_df.iterrows():
        city = row["City"]
        params["p"]=city
        print(f"Processing Record {index+1} of Set __ | {city}")
        response=requests.get(base_url, params=params).json()
        
        try:
        
            cities_df.loc[index, 'Cloudiness'] = response["clouds"]["all"]
            cities_df.loc[index, 'Country'] = response["sys"]["country"]
            cities_df.loc[index, 'Lat'] = response["main"]["humidity"]
            cities_df.loc[index, 'Lat'] = response["main"]["lat"]
            cities_df.loc[index, 'Lng'] = response["main"]["lon"]
            cities_df.loc[index, 'Max Temp'] = ((response["main"]["temp_max"])-273.15) * 9/5 + 32 #converted K to Farenheit
            cities_df.loc[index, 'Wind Speed'] = (response["wind"]["speed"])*3600/1609.34  #converterted m/s to mph
        
        except (KeyError, IndexError):
            print("City not found... skipping.")
    
     
        print("------------")
        time.sleep(1.01)

# for city in cities:
#         params["p"]=city
#         print(f"Processing Record ___ of Set __ | {city}")
#         response=requests.get(base_url, params=params).json()
#         break

Processing Record 1 of Set __ | luderitz
luderitz

In [8]:
cities_df.head()

        City Cloudiness Country Humidity Lat Lng Max Temp Wind Speed
0   luderitz
1      bluff
2  jamestown
3   bengkulu
4      roald

### Perform API Calls
* Perform a weather check on each city using a series of successive API calls.
* Include a print log of each city as it'sbeing processed (with the city number and city name).

### Convert Raw Data to DataFrame
* Export the city data into a .csv.
* Display the DataFrame

### Plotting the Data
* Use proper labeling of the plots using plot titles (including date of analysis) and axes labels.
* Save the plotted figures as .pngs.

#### Latitude vs. Temperature Plot

#### Latitude vs. Humidity Plot

#### Latitude vs. Cloudiness Plot

#### Latitude vs. Wind Speed Plot